* {
    margin: 0;
    padding: 0;
}

.header,
footer,
.carousel {
    background: #1F2937;
 
}

.header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.navlinks ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #F8FAF9;
}

.navlinks ul a {
    text-decoration: none;
    color: #E5E7EB;
    transform: color 0.4s, border-bottom 0.4s;
}
.navlinks ul a:hover{
    border-bottom: 3px solid #3882f6;
}
.carousel
{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
}
.leftcontent h3 {
    display: flex;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: bolder;
    color: #F8FAF9;
}

.leftcontent p {
    font-size: 18px;
    color: #E5E7EB;
    padding-top: 20px;
}

.leftcontent button {
    background-color: #3882f6;

    margin-top:20px ;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 8px;
    color: #F8FAF9;
}
.leftcontent button:hover{
    background-color: #F8FAF9;
    color: #3882f6;
}
.rightcontent{
    justify-content: center;
    align-items: center;
}

.destcontent{
    padding: 60px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.destination{
    margin:  16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.destinations h4 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding-top: 40px;
    
}
.destination img{
    border-radius: 10px;
}
.destination p{
    padding: 20px 5px;
    text-align: center;
    font-size: 18px;
}
.destination button{
    background-color: #1F2937;
    color: #F8FAF9;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    width: 100%;
}
.aboutus h4{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding-top: 40px; 
    text-align: center;
}
.aboutuscontent{
    display: flex;
    justify-content: center;
    align-items: center;
}


.quote{
    background-color: #E5E7EB;
    padding: 60px 100px;
}
.quote h4{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding-bottom:20px;
}
.quote .topcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.quote img{
    border-radius: 50%;
}
.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.quote .name{
    color: #1F2937;
    font-weight: bolder;
    text-align: right;
    
}
.callToAction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    margin: 60px 100px;
    padding: 20px 60px;
    border-radius: 10px;
}
.callToAction h2{
    font-weight: bolder;
    color: #E5E7EB;
    padding-bottom: 10px;
    font-size: 26px;
}
.callToAction p{
    color: #E5E7EB;
    font-size: 18px;
}
.callToAction button{
    padding: 10px 30px;
    color: #E5E7EB;
    border: 2px solid white;
    background-color: #3882f6;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 18px;
}
.callToAction button:hover{
    color:  #3882f6;
    background-color: #E5E7EB;
}
footer p{
    color: #E5E7EB;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    font-size: 18px;
}