* {
    margin: 0;
    padding: 0;
}


header,
footer,
.navbar-brand,
.homecarousel {
    background: #1F2937;
}

.wrapper {
    position: sticky;
    top: 0;
    z-index: 1000;

}

.navbar {
    padding: 20px 90px;
}

.navbar-brand {
    color: #F8FAF9;
    font-size: 32px;
}

.navbar-brand:hover {
    color: #fff;
}



.navbar-toggler {
    background: white;
    color: #0a0a0a05;
}

.navbar-toggler-remixicon {
    color: #1F2937;
    font-weight: 900;

}

.navbar-collapse {
    justify-content: end;
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #F8FAF9;
    transition: color 0.3s, border-bottom 0.3s;
    margin-right: 10px;

}

.navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    border-bottom: 2px solid #3882f6;
    border-radius: 4px;
}

.homecarousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homecarousel .leftcontent {
    padding-left: 100px;
}

.homecarousel .leftcontent h3 {
    display: flex;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: bolder;
    color: #F8FAF9;
}

.homecarousel .leftcontent p {
    font-size: 18px;
    color: #E5E7EB;
    padding-top: 20px;
}

.homecarousel .leftcontent button {
    background-color: #3882f6;
    margin-top: 20px;
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 6px;
    color: #F8FAF9;
}

.homecarousel .leftcontent button a {
    color: #fff;
}

.homecarousel .leftcontent button:hover {
    background-color: #F8FAF9;
    color: #3882f6;
}

.homecarousel .rightcontent {
    justify-content: right;
    align-items: center;
}

.homecarousel .rightcontent spline-viewer {
    width: 600px;
    height: 500px;
}

.tours h4 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding-top: 20px;

}

.tourscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.cardcontainer {
    padding: 40px 20px;
    margin: 0px 80px;

}

.cardcontent {
    overflow: hidden;
    margin-inline: 1.5rem;

}

.cardarticle {
    max-width: 300px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.20);
}

.cardimg {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.carddata {
    text-align: center;
}

.cardname {
    padding-top: 10px;
    font-size: 24px;
    color: teal
}

.carddescription {
    padding: 20px 10px;
    text-align: center;
    font-size: 18px;

}

.cardbutton button {
    background-color: teal;
    color: #F8FAF9;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin-bottom: 20px;
    width: 100px;
}

.cardbutton button:hover {
    background-color: white;
    color: teal;
    border: 2px solid teal;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}


.swiper-button-next,
.swiper-button-prev {
    width: 50px;
    height: 50px;
    font-size: 2em;
    color: white;
    background-color: teal;
    border-radius: 50%;
    z-index: 500;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: teal;
}

/* Break points */
/* small devices */
@media screen and (max-width:320px) {
    .carddata {
        padding: 1rem;

    }
}

.aboutus h4 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    text-align: center;
}

.aboutus {
    margin: 60px 100px;
}

.aboutuscontent {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutusimg img {
    border-radius: 10px 40px 50px 10px;
}

.aboutustxt {
    flex-wrap: wrap;
    padding: 1px 40px;
}

.aboutustxt p {
    font-size: 16px;
}

.aboutustxt button {
    background-color: #1F2937;
    color: #F8FAF9;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    margin-top: 20px;
    width: 180px;
    height: 40px;
}

.aboutustxt button:hover {
    background-color: white;
    color: #1F2937;
    border: 2px solid #1F2937;

}


.aboutustxt button a:hover {
    color: #1F2937;
}


.specialoffers h4 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    text-align: center;
}

.specilaofferscontainer {
    padding-top: 60px;
}

.specialoffers .card {
    border: none;
    margin-bottom: 20px;
}

.specialoffers .card .cardimage {
    width: 100%;
    height: auto;
    position: relative;
}



.specialoffers .card .cardname {
    color: #3882f6;
    text-align: left;
}

.specialoffers .card .cardimage .topimg {
    top: -8px;
    right: -24px;
    z-index: 1;
    position: absolute;
    width: 120px;
    height: auto;
}


.specialoffers .card .rating {
    display: flex;
    justify-content: space-between;
    padding: 10px 12px;
}

.specialoffers .card .rating i {
    color: red;
}

.specialoffers .card .carddescription {
    text-align: left;
}

.specialoffers .card .cardbuttons {
    display: flex;
    float: left;
    justify-content: space-around;

}

.cardbtnspecialoffers button {
    width: 170px;
    margin: 0 5px;
    padding: 8px 10px;
    background-color: #3882f6;
    border: none;
    color: #fff;
    border-radius: 8px;
}

.cardbtnspecialoffers button:hover {
    background-color: #fff;
    border: 2px solid #3882f6;
    color: #3882f6;
}

.quote {
    margin: 60px 0;
    background-color: #E5E7EB;
    padding: 60px 100px;
}

.quote h4 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;

}

.quote .testimonialimg {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.testimonialcardcontent {
    overflow: hidden;
}

.quote img {
    border-radius: 50%;
}

.quote .testimonialcardcontent p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0 40px;
    text-align: center;
}

.quote .testimonialcardcontent .name h2 {
    margin: 20px 0;
    color: #1F2937;
    font-weight: bolder;
    text-align: right;

}

.quote .swiper-button-prev::after,
.quote .swiper-button-next::after {
    content: '';
}



.quote .swiper-button-next,
.quote .swiper-button-prev {
    width: 50px;
    height: 50px;
    font-size: 3em;
    color: white;
    background-color: #1F2937;
}



.callToAction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    margin: 60px 100px;
    padding: 20px 60px;
    border-radius: 10px;
}

.callToAction h2 {
    font-weight: bolder;
    color: #E5E7EB;
    padding-bottom: 5px;
    font-size: 20px;
}

.callToAction p {
    color: #E5E7EB;
    font-size: 16px;
}

.callToAction button {
    padding: 10px 30px;
    color: #E5E7EB;
    border: 2px solid white;
    background-color: #3882f6;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 16px;
}

.callToAction button:hover {
    color: #3882f6;
    background-color: #E5E7EB;
}

/* homepage */
/* Styles for screens with a maximum width of 768 pixels (small screens like smartphones) */
@media (max-width: 768px) {
    .navbar {
        padding: 10px 40px;
    }

    .navbar-brand {
        color: #F8FAF9;
        font-size: 24px;
    }

    .homecarousel {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .leftcontent {
        padding-left: 50px;
    }

    .leftcontent h3 {
        font-size: 30px;
    }

    .leftcontent button {
        width: 100px;
        margin: 20px 0px;
    }

    .rightcontent spline-viewer {
        width: 400px;

    }

    .cardcontainer {
        padding: 40px 20px;
        margin: 0px 20px;

    }

    .aboutus {
        margin: 60px 0;
    }

    .aboutuscontent {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutusimg img {
        width: 100%;
        border-radius: 10px;
        padding: 20px;
    }

    .aboutustxt p {
        text-align: justify;
    }

    .quote {
        padding: 60px 50px;
    }

    .quote .testimonialcardcontent p {
        font-size: 24px;
    }

    .callToAction {
        justify-content: start;
        flex-direction: column;
        margin: 60px 50px;
    }
}

/* Styles for screens with a width between 769 and 1024 pixels (medium screens like tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
    .navbar-brand {
        font-size: 24px;
    }
}

/* Styles for screens with a width greater than 1024 pixels (large screens like desktops) */
/* @media (min-width: 1025px) {
   
} */

/* destination */
.destinationcarousel .carousel-item img {
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.destinationcarousel .carousel-item .carousel-caption h1 {
    font-size: 52px;
    font-weight: 900;
    padding-bottom: 150px;

}

.destinationparagraph h4 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding-top: 40px;

}

.dash {
    width: 80px;
    height: 5px;
    background-color: #1F2937;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
}

.destinationparagraph p {
    padding: 40px 20px;
    text-align: center;
}

.destinationcards .card {
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.20);
}

.destinationcards .card img {
    height: 250px;
}

.destinationcards .card .card-body h5 a {
    text-decoration: none;
    cursor: pointer;
    color: #1F2937;
    font-weight: bolder;
}

.destinationcards .card .card-body .destinationrating {
    color: #3882f6;
}


.destinationcards .card .card-body p {
    font-size: 14px;
}

.destinationcards .card .card-body .btn {
    width: 160px;
    height: 40px;
}

/* about */
.aboutuspagecontent {
    padding: 20px 100px;
}

.aboutuspagecontent h2 {
    text-align: left;
    color: #1F2937;
    font-weight: 900;
}

.aboutuspagecontent .ourstory,
.aboutuspagecontent .ourvision {
    display: flex;
    flex-direction: row;
    margin: 80px 0;
}

.aboutuspagecontent .ourstory h2 {
    padding: 10px 40px;
    text-align: left;
}


.aboutuspagecontent .ourstory .abtimg img {
    border-radius: 10px 40px 50px 10px;
    width: 500px;
}

.aboutuspagecontent .ourstory .abttxt p {
    padding: 0px 40px;
    text-align: justify;
}

.aboutuspagecontent .ourvision .visiontxt p {
    text-align: justify;
    padding-right: 40px;
}

.aboutuspagecontent .ourvision .visionimg img {
    border-radius: 40px 10px 10px 50px;
    width: 500px;
}

.aboutuspagecontent .team .persons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.aboutuspagecontent .team .persons .person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.aboutuspagecontent .team .persons .imgteam img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 5px 10px;
}

.aboutuspagecontent .team .persons .text h3 {
    font-size: 16px;
    font-weight: 900;
    text-align: center;

}

.aboutuspagecontent .team .persons .text p {
    text-align: center;
}

.aboutuspagecontent .team .persons .socials {
    color: #3882f6;
    font-size: 18px;

}

.aboutuspagecontent .team .persons .socials i {
    margin: 5px 5px;
}
@media (max-width: 769px) {
    .aboutuspagecontent {
        padding: 10px 50px;
    }
    .aboutuspagecontent h2 {
        text-align: center;
        
    }
    .aboutuspagecontent .ourstory {
        display: flex;
        flex-direction: column;
        margin: 40px 0;
    }
   
    .aboutuspagecontent .ourstory .abtimg img {
        border-radius: 10px;
        width: 100%;
        
    }
    .aboutuspagecontent .ourstory h2,
    .aboutuspagecontent .ourvision .visiontxt h2
     {
        padding: 10px;
        text-align: left;
    }
    .aboutuspagecontent .ourstory .abttxt p {
        text-align: justify;
        padding: 10px;
    }
    .aboutuspagecontent .ourvision {
        display: flex;
        flex-direction: column-reverse;
        margin: 40px 0;
    }
    .aboutuspagecontent .ourvision .visionimg img {
        border-radius: 10px ;
        width: 100%;
    }
    .aboutuspagecontent .team .persons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutuspagecontent .team .persons .person {
        margin: 20px;
    }
}

/* Styles for screens with a width between 769 and 1024 pixels (medium screens like tablets) */
/* @media (min-width: 769px) and (max-width: 1024px) {
   
} */

/* Styles for screens with a width greater than 1024 pixels (large screens like desktops) */
/* @media (min-width: 1025px) {
   
} */
/* contact */

.contactcontent h2 {
    text-align: center;
    color: #1F2937;
    padding: 20px 0;
    font-weight: 900;
}

.contactuscontent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.contactcontent .email {
    width: 800px;
    height: 400px;
    padding: 20px 40px;
    border-radius: 8px;
    margin-right: 20px;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.20);
    /* border: 2px solid #3882f6; */
}

.contactcontent .email .mail,
.contactcontent .email .subject,
.contactcontent .email .message {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.contactcontent .email .mail label,
.contactcontent .email .subject label,
.contactcontent .email .message label {
    color: #3882f6;
    padding-bottom: 5px;
}

.contactcontent .email .mail input,
.contactcontent .email .subject input {
    width: 100;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #333;
    padding: 10px;
}

.contactcontent .email .message textarea {
    width: 100%;
    border-radius: 4px;
    padding: 10px;
}

.contactcontent .email form {
    display: flex;
    flex-direction: column;
}

.contactcontent .email form .button {
    height: 50px;
    width: 160px;
    background: #3882f6;
    color: white;
    border: #fff;
    border-radius: 8px;
}

.contactcontent .location {
    border-radius: 8px;
    z-index: 1;
    background-color: #3882f6;
    width: 400px;
    height: 400px;
    padding: 30px 30px;
}

.contactcontent .location h3 {
    color: white;
    padding-bottom: 20px;

}

.contactcontent .location .contacticons {
    display: flex;
    flex-direction: column;
}

.contactcontent .location .contacticons a {
    text-decoration: none;
    padding-bottom: 40px;
    color: white;
}

.contactcontent .location .contacticons i {
    background-color: #ffffff2c;
    font-size: 20px;
    border-radius: 50%;
    padding: 10px;
}

.contactcontent .location .socialmediaicons {
    padding-top: 20px;
}

.contactcontent .location .socialmediaicons a {
    color: #ffffff75;
    font-size: 25px;
    padding-left: 45px;
    text-decoration: none;
}
.contactcontent .location .socialmediaicons a:hover{
    color: white;
}

.contactcontent .map iframe {
    padding: 20px 100px;
}
@media (max-width: 769px) {
    .contactuscontent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 50px;
    }
    .contactcontent .email {
        width: 100%;
        height: 400px;
        padding: 20px 40px;
        margin: 20px 0;
    }
    .contactcontent .map iframe {
        padding: 20px 50px;
    }
}


/* blog */

.blogcontent h2 {
    text-align: center;
    color: #1F2937;
    padding: 20px 0;
    font-weight: 900;
}

.custom-carousel-img {
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.topblogsection .carousel {
    width: 100%;
    height: 450px;
    background: #1F2937;
}

.firstblogrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 90px;
    margin: 40px 0;
}

.firstblogrow .leftblogcontent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.firstblogrow .leftblogcontent .blogcards1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 20px 20px;
    border: none;
}

.firstblogrow .leftblogcontent .blogcards1 .cardimg {
    width: 350px;
    height: 200px;
}

.firstblogrow .leftblogcontent .blogcards1 .carddata {
    text-align: left;
    padding: 20px 0;

}

.firstblogrow .rightblogcontent .rightblogcarddata {
    margin-bottom: 35px;
}

.secondblogrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 90px;
    margin: 40px 0;
}
.secondblogrow .blogcards2{
    border:none;
}

.secondblogrow .blogcards2 .carddata {
    padding: 10px 0px;
    text-align: left;
    /* font-size: 16px; */
}

.secondblogrow .cardimage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.secondblogrow .cardimage .cardimg2 {
    height: 170px;
    width: 270px;
    border-radius: 8px;
}

.thirdblogrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 90px;
    margin: 40px 0;
}

.thirdblogrow .leftcontent {
    margin: 20px 20px;
}

.thirdblogrow .leftblogcarddata {
    margin-bottom: 40px;
}

.thirdblogrow .leftblogcarddata h5 {
    font-weight: bolder;
    color: black;
    font-size: 24px;
}

.thirdblogrow .leftblogcarddata p {
    color: black;
    font-size: 16px;
}

.thirdblogrow .rightcontent .blogcards3 .carddata {
    text-align: left;
}

.thirdblogrow .rightcontent .blogcards3 .cardimg {
    width: 800px;
    height: auto;
}
@media (max-width: 769px) {
    
.firstblogrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    margin: 40px 0;
}
.firstblogrow .leftblogcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.secondblogrow {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding: 10px 40px;
}
.secondblogrow .blogcards2 {
    padding: 20px 0;
  
}
.secondblogrow .blogcards2 .carddata {
    padding: 10px;
}
.thirdblogrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
   
}
.thirdblogrow .rightcontent .blogcards3 .cardimg {
    width: 100%;
    height: auto;
}

}

/* footer */
.footersections {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 20px 60px;
}

footer .footersections .contacticons,
footer .footersections .socialmediaicons,
footer .footersections .quicklinkicons,
footer .footersections .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

footer .footersections .contactinfo h6,
footer .footersections .socialmedialinks h6,
footer .footersections .quicklinks h6,
footer .footersections .newsletter h6,
footer .footersections .aboutfooter h6 {
    padding-top: 20px;
    color: #3882f6;
    font-weight: bolder;
}

footer .footersections .contactinfo,
footer .footersections .socialmedialinks,
footer .footersections .quicklinks,
footer .footersections .newsletter,
footer .footersections .aboutfooter {
    height: 200px;
    margin: 0 20px;
}


footer .footersections .contacticons i,
footer .footersections .socialmediaicons a,
footer .footersections .quicklinkicons a {
    text-decoration: none;
    color: white;
    padding-top: 20px;
    font-size: 14px;
    transition: font-size 0.3s ease;
}

footer .footersections .socialmediaicons a:hover,
footer .footersections .quicklinkicons a:hover {
    color: #3882f6;
    font-size: 16px;
}

footer .footersections .aboutfooter p {
    font-size: 12px;
    text-align: left;

}

footer .newsletter form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    padding-top: 20px;
}

footer .newsletter input {
    border-radius: 4px;
    border: none;
    height: 30px;

}

footer .newsletter button {
    margin: 10px 0;
    padding: 5px 10px;
    color: #E5E7EB;
    background-color: #3882f6;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 12px;
    border: none;
}

footer .newsletter p {
    font-size: 12px;
}

footer p {
    color: #E5E7EB;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    font-size: 18px;
}

footer .bottom p {
    font-size: 12px;
}

@media (max-width: 769px) {
    .footersections {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        color: white;
        padding: 40px 0;
    }
}

/* Styles for screens with a width between 769 and 1024 pixels (medium screens like tablets) */
/* @media (min-width: 769px) and (max-width: 1024px) {
} */

/* Styles for screens with a width greater than 1024 pixels (large screens like desktops) */
/* @media (min-width: 1025px) {
  
} */