* {
    margin: 0;
    padding: 0;
}

header,
footer,
.navbar-brand,
.homecarousel {
    background: #1F2937;
}

.wrapper {
    position: sticky;
    top: 0;
    z-index: 1000;

}

.navbar-brand {
    color: #F8FAF9;
    font-size: 32px;
}

.navbar {
    padding: 10px 90px;
}

.navbar-collapse {
    justify-content: end;
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #F8FAF9;
    transition: color 0.3s, border-bottom 0.3s;
    margin-right: 10px;

}

.navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    border-bottom: 2px solid #3882f6;
    border-radius: 4px;
}

.booknow button {
    background-color: #3882f6;
    color: #F8FAF9;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 20px;
    width: 100%;
}

.homecarousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
}

.leftcontent h3 {
    display: flex;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: bolder;
    color: #F8FAF9;
}

.leftcontent p {
    font-size: 18px;
    color: #E5E7EB;
    padding-top: 20px;
}

.leftcontent button {
    background-color: #3882f6;
    margin-top: 20px;
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 6px;
    color: #F8FAF9;
}

.leftcontent button a {
    color: #fff;
}

.leftcontent button:hover {
    background-color: #F8FAF9;
    color: #3882f6;
}

.rightcontent {
    justify-content: center;
    align-items: center;
}

.rightcontent spline-viewer {
    width: 600px;
    height: 500px;
}

.tours h4 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding: 20px 0;

}

.tourscontainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.cardcontainer {
    padding: 40px 20px;
    margin: 0px 80px;

}

.cardcontent {
    overflow: hidden;
    margin-inline: 1.5rem;

}

.cardarticle {
    /* width: 300px; */
    overflow: hidden;
    border-radius: 8px;
    /* border: 2px solid teal; */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.20);
}

.cardimg {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.carddata {
    text-align: center;


}

.cardname {
    padding-top: 10px;
    font-size: 24px;
    color: teal
}

.carddescription {
    padding: 20px 10px;
    text-align: center;
    font-size: 18px;

}

.cardbutton button {
    background-color: teal;
    color: #F8FAF9;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin-bottom: 20px;
    width: 100px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}

.swiper-button-next {
    right: -20px;
}

.swiper-button-prev {
    left: -20px;
}

.swiper-button-next,
.swiper-button-prev {
    width: initial;
    height: initial;
    font-size: 4em;
    color: teal;
    display: block;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: teal;
}

/* Break points */
/* small devices */
@media screen and (max-width:320px) {
    .carddata {
        padding: 1rem;

    }
}

/* medium devices */

/* large devices */

.aboutus h4 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding-bottom: 60px;
    text-align: center;
}

.aboutus {
    margin: 60px 100px;
}

.aboutuscontent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutusimg img {
    border-radius: 10px 40px 50px 10px;
}

.aboutustxt {
    flex-wrap: wrap;
    padding: 1px 40px;
}

.aboutustxt p {

    row-gap: 20px;
}

.aboutustxt button {
    background-color: #1F2937;
    color: #F8FAF9;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    margin-top: 20px;
    width: 180px;
}

.aboutustxt button a,
.aboutustxt button a:hover {
    color: #fff;
}

.specialoffers h4 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding-bottom: 60px;
    text-align: center;
}

.specilaofferscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.specialofferscards {
    margin: 10px 20px;
    padding-bottom: 40px;
    width: 340px;

}

.specialofferscards .cardimage {
    width: 100%;
    position: relative;
}

.specialofferscards .cardname {
    color: #3882f6;
}

.specialofferscards .cardimage .topimg {
    top: -8px;
    right: -24px;
    z-index: 1;
    position: absolute;
    width: 120px;
    height: auto;
}


.carddata .rating {
    display: flex;
    justify-content: space-between;
    padding: 10px 12px;
}

.carddata .rating i {
    color: red;
}

.specialofferscards .cardbuttons {
    display: flex;
    justify-content: space-around;

}

.cardbtnspecialoffers button {
    width: 170px;
    margin: 0 5px;
    padding: 8px 10px;
    background-color: #3882f6;
    border: none;
    color: #fff;
    border-radius: 8px;
}

.quote {
    margin: 60px 0;
    background-color: #E5E7EB;
    padding: 60px 100px;
}

.quote h4 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding-bottom: 20px;
}

.quote .testimonialimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.testimonialcardcontent {
    overflow: hidden;
}

.quote img {
    border-radius: 50%;
}

.quote .testimonialcardcontent p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0 40px;
}

.quote .testimonialcardcontent .name h2 {
    margin: 20px 0;
    color: #1F2937;
    font-weight: bolder;
    text-align: right;

}

.quote .swiper-button-prev::after,
.quote .swiper-button-next::after {
    content: '';
}

.quote .swiper-button-next {
    right: -20px;
}

.quote .swiper-button-prev {
    left: -20px;
}

.quote .swiper-button-next,
.quote .swiper-button-prev {
    width: initial;
    height: initial;
    font-size: 4em;
    color: #1F2937;
    display: block;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: teal;
}

.callToAction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    margin: 60px 100px;
    padding: 20px 60px;
    border-radius: 10px;
}

.callToAction h2 {
    font-weight: bolder;
    color: #E5E7EB;
    padding-bottom: 5px;
    font-size: 20px;
}

.callToAction p {
    color: #E5E7EB;
    font-size: 16px;
}

.callToAction button {
    padding: 10px 30px;
    color: #E5E7EB;
    border: 2px solid white;
    background-color: #3882f6;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 16px;
}

.callToAction button:hover {
    color: #3882f6;
    background-color: #E5E7EB;
}

/* destination */
.destinationcarousel .carousel-item img {
    height: 450px;
    width: 100%;
    object-fit: cover;
}


.destinationparagraph h4 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding-top: 40px;

}

.destinationparagraph .dash {
    width: 80px;
    height: 5px;
    background-color: #1F2937;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
}

.destinationparagraph p {
    padding: 40px 20px;
    text-align: center;
}

.destinationcards .card {
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.20);
}

.destinationcards .card .card-body h5 a {
    text-decoration: none;
    cursor: pointer;
    color: #1F2937;
    font-weight: bolder;
}
.destinationcards .card .card-body .destinationrating{
    color: #3882f6;
}


.destinationcards .card .card-body p {
    font-size: 14px;
}
.destinationcards .card .card-body .btn{
    width: 160px;
    height: 40px;
} 

/* about */
.aboutuspagecontent {
    padding: 20px 100px;
}

.aboutuspagecontent h2 {
    text-align: center;
    color: #1F2937;
    padding: 20px 0;
    font-weight: 900;
}

.aboutuspagecontent .ourstory,
.aboutuspagecontent .ourvision {
    display: flex;
    flex-direction: row;
    margin: 80px 0;
}

.aboutuspagecontent .ourstory h2 {
    padding: 10px 40px;
    text-align: left;
}

.aboutuspagecontent .ourvision h2 {
    text-align: left;
}

.aboutuspagecontent .ourstory .abtimg img {
    border-radius: 10px 40px 50px 10px;
    width: 500px;
}

.aboutuspagecontent .ourstory .abttxt p {
    padding: 0px 40px;
    text-align: justify;
}

.aboutuspagecontent .ourvision .visiontxt p {
    text-align: justify;
    padding-right: 40px;
}

.aboutuspagecontent .ourvision .visionimg img {
    border-radius: 40px 10px 10px 50px;
    width: 500px;
}

.aboutuspagecontent .team .persons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.aboutuspagecontent .team .persons .person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.aboutuspagecontent .team .persons .imgteam img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 5px 10px;
}

.aboutuspagecontent .team .persons .text h3 {
    font-size: 16px;
    font-weight: 900;
    text-align: center;

}

.aboutuspagecontent .team .persons .text p {
    text-align: center;
}

.aboutuspagecontent .team .persons .socials {
    color: #3882f6;
    font-size: 18px;

}

.aboutuspagecontent .team .persons .socials i {
    margin: 5px 5px;
}

/* contact */

.contactcontent h2 {
    text-align: center;
    color: #1F2937;
    padding: 20px 0;
    font-weight: 900;
}

.contactuscontent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.contactcontent .email {
    width: 800px;
    height: 400px;
    padding: 20px 40px;
    border-radius: 8px;
    margin-right: 20px;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.20);
    /* border: 2px solid #3882f6; */
}

.contactcontent .email .mail,
.contactcontent .email .subject,
.contactcontent .email .message {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.contactcontent .email .mail label,
.contactcontent .email .subject label,
.contactcontent .email .message label {
    color: #3882f6;
    padding-bottom: 5px;
}

.contactcontent .email .mail input,
.contactcontent .email .subject input {
    width: 100;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #333;
    padding: 10px;
}

.contactcontent .email .message textarea {
    width: 100%;
    border-radius: 4px;
    padding: 10px;
}

.contactcontent .email form {
    display: flex;
    flex-direction: column;
}

.contactcontent .email form .button {
    height: 50px;
    width: 160px;
    background: #3882f6;
    color: white;
    border: #fff;
    border-radius: 8px;
}

.contactcontent .location {
    border-radius: 8px;
    z-index: 1;
    background-color: #3882f6;
    width: 400px;
    height: 400px;
    padding: 30px 30px;
}

.contactcontent .location h3 {
    color: white;
    padding-bottom: 20px;

}

.contactcontent .location .contacticons {
    display: flex;
    flex-direction: column;
}

.contactcontent .location .contacticons a {
    text-decoration: none;
    padding-bottom: 40px;
    color: white;
}

.contactcontent .location .contacticons i {
    background-color: #ffffff2c;
    font-size: 20px;
    border-radius: 50%;
    padding: 10px;
}

.contactcontent .location .socialmediaicons {
    padding-top: 20px;
}

.contactcontent .location .socialmediaicons a {
    color: white;
    font-size: 25px;
    padding-left: 45px;
}

.contactcontent .map iframe {
    padding: 20px 100px;
}

/* blog */

.blogcontent h2 {
    text-align: center;
    color: #1F2937;
    padding: 20px 0;
    font-weight: 900;
}

.custom-carousel-img {
    height: 550px;
    width: 100%;
    object-fit: cover;
}

.topblogsection .carousel {
    width: 100%;
    height: 550px;
    background: #1F2937;
}

.topblogsection .carousel-control-next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3882f6;
    margin-top: 300px;
    margin-right: 80px;
}

.topblogsection .carousel-control-prev {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3882f6;
    margin-top: 300px;
    margin-left: 80px;
}

.firstblogrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    margin: 40px 0;
}

.firstblogrow .leftblogcontent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.firstblogrow .leftblogcontent .blogcards1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 20px 20px;
    border: none;
}

.firstblogrow .leftblogcontent .blogcards1 .cardimg {
    width: 350px;
    height: 200px;
}

.firstblogrow .leftblogcontent .blogcards1 .carddata {
    text-align: left;
    padding: 20px 0;

}

.firstblogrow .rightblogcontent .rightblogcarddata {
    margin-bottom: 35px;
}

.secondblogrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    margin: 40px 0;
}

.secondblogrow .blogcards2 .carddata {
    padding: 10px 20px;
    text-align: left;
    /* font-size: 16px; */
}

.secondblogrow .cardimage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.secondblogrow .cardimage .cardimg2 {
    height: 170px;
    width: 270px;
    border-radius: 8px;
}

.thirdblogrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
    margin: 40px 0;
}

.thirdblogrow .leftcontent {
    margin: 20px 20px;
}

.thirdblogrow .leftblogcarddata {
    margin-bottom: 40px;
}

.thirdblogrow .leftblogcarddata h5 {
    font-weight: bolder;
    color: black;
    font-size: 24px;
}

.thirdblogrow .leftblogcarddata p {
    color: black;
    font-size: 16px;
}

.thirdblogrow .rightcontent .blogcards3 .carddata {
    text-align: left;
}

.thirdblogrow .rightcontent .blogcards3 .cardimg {
    width: 800px;
    height: auto;
}

/* footer */
.footersections {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 20px 60px;
}

footer .footersections .contacticons,
footer .footersections .socialmediaicons,
footer .footersections .quicklinkicons,
footer .footersections .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

footer .footersections .contactinfo h6,
footer .footersections .socialmedialinks h6,
footer .footersections .quicklinks h6,
footer .footersections .newsletter h6,
footer .footersections .aboutfooter h6 {
    padding-top: 20px;
    color: #3882f6;
    font-weight: bolder;
}

footer .footersections .contactinfo,
footer .footersections .socialmedialinks,
footer .footersections .quicklinks,
footer .footersections .newsletter,
footer .footersections .aboutfooter {
    height: 200px;
    margin: 0 20px;
}


footer .footersections .contacticons a,
footer .footersections .socialmediaicons a,
footer .footersections .quicklinkicons a {
    text-decoration: none;
    color: white;
    padding-top: 20px;
    font-size: 14px;
}

footer .footersections .aboutfooter p {
    font-size: 12px;
    text-align: left;

}

footer .newsletter form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    padding-top: 20px;
}

footer .newsletter input {
    border-radius: 4px;
    border: none;
    height: 30px;

}

footer .newsletter button {
    margin: 10px 0;
    padding: 5px 10px;
    color: #E5E7EB;
    background-color: #3882f6;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 12px;
    border: none;
}

footer .newsletter p {
    font-size: 12px;
}

footer p {
    color: #E5E7EB;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    font-size: 18px;
}

footer .bottom p {
    font-size: 12px;
}